<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/estilos.css">
<link rel="stylesheet" href="css/loginOuCadastro.css">
</head>
<body>
	<header>
		<h1>Dijsktra Restaurant</h1>
		<nav class="menu">
			<ul>
				<li><a th:href="@{/}">Inicio</a></li>
				<li sec:authorize="hasRole('ROLE_CLIENTE')"><a th:href="@{pedido/listar}">Pedidos</a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{cadastroPrato}">Cadastrar Prato</a></li>
				<li><a th:href="@{loginOuCadastro}">Login</a></li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{logout}">Logout</a></li>
			</ul>
		</nav>
	</header>
	<div class="conteudo">
		<h1>Seja bem vindo(a)!</h1>
		<div class="divFormularios">
			<div class="divFormularioLogin divFormulario">
				<h2>Já sou cliente</h2>
				<form method="post">
					<div class="inputDiv">
						<label for="nome">E-mail:</label> <input name="username" type="text" id="nome" />
					</div>
					<div class="inputDiv ultimaInputDiv">
						<label for="senha">Senha:</label> <input name="password" type="text" id="senha" />
					</div>
					<input type="submit" class="btn btn-primary" value="Login" />
				</form>
			</div>
			<div class="separadorFormularios"></div>
			<div class="divFormularioCadastro divFormulario">
				<h2>Quero me cadastrar</h2>
				<form id="my-form" action="/cadastrarCliente" method="POST">
					<div class="inputDiv">
						<label for="nome">Nome:</label> <input type="text" name="nome" />
					</div>
					<div class="inputDiv">
						<label for="nome">E-mail:</label> <input type="text" name="email" />
					</div>
					<div class="inputDiv">
						<label for="nome">Endereço:</label> <input type="text"
							name="endereco" />
					</div>
					<div class="inputDiv">
						<label for="nome">CPF:</label> <input type="text" name="cpf" />
					</div>
					<div class="inputDiv ultimaInputDiv">
						<label for="nome">Senha:</label> <input type="text" name="senha" />
					</div>
					<input type="submit" class="btn btn-primary" value="Cadastrar-se" />
				</form>
			</div>
		</div>
	</div>
</body>
</html>