<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pedidos</title>
</head>
<body>
	<h2>Pedido atual</h2>
	<table border="1">
		<tr>
			<td>Prato</td>
			<td>Valor</td>
		</tr>
		<tr th:each="prato : ${pedidoAtual.pratos}">
			<td th:text="${prato.nome}">
			</td>
			<td th:text="${prato.valor}">
			</td>
		</tr>
		<tr>
			<td th:text="${pedidoAtual.calcularValor()}">
			</td>
		</tr>
	</table>
	<h2>Outros Pedidos</h2>
	<table border="1">
		<tr>
			<td>Prato</td>
			<td>Valor</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</table>
</body>
</html>